<!doctype html>
<html class="no-js " lang="es">
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] Sistema Educativo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HuevitosEnLinea.styles.css" asp-append-version="true" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assetsInSystem/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assetsInSystem/plugins/jvectormap/jquery-jvectormap-2.0.3.css" />
    <link rel="stylesheet" href="~/assetsInSystem/plugins/morrisjs/morris.css" />
    <link rel="stylesheet" href="~/assetsInSystem/css/main.css">
    <link rel="stylesheet" href="~/assetsInSystem/css/color_skins.css">

    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="~/assetsInSystem/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
</head>

<body class="theme-orange">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <p>Un momento...</p>
            <div class="m-t-30"><img src="~/assetsInSystem/images/logo2.png" width="100" height="100" alt="Nexa"></div>
        </div>
    </div>


    <!-- Top Bar -->
    <nav class="navbar">
        <div class="col-12">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                 <a class="navbar-brand" href="@Url.Action("Index","Home")">Sistema Educativo</a>
             </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
                <li class="dropdown menu-app hidden-sm-down">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"> <i class="zmdi zmdi-apps"></i> </a>
                    <ul class="dropdown-menu slideDown">
                        <li class="body">
                            <ul class="menu">
                                @*  <li><a href="contact.html"><i class="zmdi zmdi-accounts-list"></i><span>Clientes</span></a></li> *@
@*                                 <li><a href="@Url.Action("Nosotros","Consulta")"><i class="zmdi zmdi-comment-list"></i><span>Nosotros</span></a></li>
 *@                                @*    <li><a href="events.html"><i class="zmdi zmdi-calendar-note"></i><span>Calendario</span></a></li> *@

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @* @if (Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") == "1"){
                    <li class="dropdown @(Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") == "1" ? "" : "hidden")">
                        <a href="javascript:void(0);" class="dropdown-toggle js-left-sidebar" data-toggle="dropdown" role="button">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                        <ul class="dropdown-menu slideDown">
                            <li class="header ">NOTIFICACIONES</li>
                            <li class="body" style="height: 153px">
                                <ul class="menu list-unstyled">
                                    @{
                                        DateTime? fecha = null;
                                        DateTime? fechaPedido = null;
                                        DateTime fechaReferencia = new DateTime(2000, 6, 30);

                                        if (Context.Session.GetInt32("CantidadPedidos") != 0)
                                        {
                                            fechaPedido = DateTime.Parse(Context.Session.GetString("FechaPedido"));
                                        }
                                        else
                                        {
                                            fechaPedido = new DateTime(2000, 6, 30);
                                        }
                                        if (Context.Session.GetInt32("CantidadUsuarios") != 0)
                                        {
                                            fecha = DateTime.Parse(Context.Session.GetString("Fecha"));
                                        }
                                        else
                                        {
                                            fecha = new DateTime(2000, 6, 30);
                                        }

                                    }
                                    @if (fecha == fechaReferencia && fechaPedido == fechaReferencia)
                                    {
                                        <li>
                                            <a style="pointer-events: none">
                                                <div class="icon-circle l-blue"> <i class="material-icons">schedule</i> </div>
                                                <div class="menu-info">
                                                    <h4>No hay ninguna notificación nueva por el momento</h4>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else if(fecha >= fechaPedido)
                                    {
                                        
                                        <li>
                                            @if (Context.Session.GetInt32("CantidadPedidos") == 0)
                                            {
                                                
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("EliminarNotificacionesPedidos","Notificacion")">
                                                    <div class="icon-circle l-turquoise"> <i class="material-icons">add_shopping_cart</i></div>
                                                    <div class="menu-info">
                                                        <h4>@Context.Session.GetInt32("CantidadPedidos") Pedidos realizados</h4>
                                                        <p> <i class="material-icons">access_time</i> @Context.Session.GetString("FechaPedido") </p>
                                                    </div>
                                                </a>
                                            }
                                        </li>
                                        <li>
                                            @if (Context.Session.GetInt32("CantidadUsuarios") == 0)
                                            {

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("EliminarNotificacionesUsuarios","Notificacion")">
                                                    <div class="icon-circle l-coral"> <i class="material-icons">person_add</i> </div>
                                                    <div class="menu-info">
                                                        <h4>@Context.Session.GetInt32("CantidadUsuarios") Clientes nuevos</h4>
                                                        <p> <i class="material-icons">access_time</i> @Context.Session.GetString("Fecha") </p>
                                                    </div>
                                                </a>
                                            }

                                        </li>
                                    }
                                    else if (fecha <= fechaPedido)
                                    {
                                        <li>
                                            @if (Context.Session.GetInt32("CantidadUsuarios") == 0)
                                            {
                                                
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("EliminarNotificacionesUsuarios","Notificacion")">
                                                    <div class="icon-circle l-coral"> <i class="material-icons">person_add</i> </div>
                                                    <div class="menu-info">
                                                        <h4>@Context.Session.GetInt32("CantidadUsuarios") Clientes nuevos</h4>
                                                        <p> <i class="material-icons">access_time</i> @Context.Session.GetString("Fecha") </p>
                                                    </div>
                                                </a>
                                            }

                                        </li>
                                        <li>
                                            @if (Context.Session.GetInt32("CantidadPedidos") == 0)
                                            {

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("EliminarNotificacionesPedidos","Notificacion")">
                                                    <div class="icon-circle l-turquoise"> <i class="material-icons">add_shopping_cart</i></div>
                                                    <div class="menu-info">
                                                        <h4>@Context.Session.GetInt32("CantidadPedidos") Pedidos realizados</h4>
                                                        <p> <i class="material-icons">access_time</i> @Context.Session.GetString("FechaPedido") </p>
                                                    </div>
                                                </a>
                                            }
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li class="footer"><a href="javascript:void(0);" >Estas son las notificaciones</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    
                } *@
@*                 <li><a href="@Url.Action("CerrarSesion","Login")" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-power"></i></a></li>
 *@                <li><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
            </ul>
        </div>
    </nav>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->


        <div class="user-info" style="margin-bottom: 20px;">
            <div class="info-container" style="display: flex; align-items: center; width: 100%;">
                <div class="name" data-toggle="dropdown" style="margin-right: 25px;">
                    <!-- Opcional: puedes agregar contenido aquí -->
                </div>
                <div class="btn-group user-helper-dropdown" style="margin-left: auto;">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">keyboard_arrow_down</i>
                    <ul class="dropdown-menu slideUp">
                        <li><a href="javascript:void(0);"><i class="material-icons">help_outline</i>Ayuda</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("CerrarSesion","Login")"><i class="material-icons">input</i>Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <!-- Admin -->

                <li @* class="@(Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") == "1" ? "" : "hidden")" *@>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account"></i><span>Usuario</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("Create","Usuario")">Ingresar Usuario</a></li>
                        <li><a href="@Url.Action("Index","Usuario")">Ver Usuarios</a></li>
                    </ul>
                </li>
                
                <li @* class="@(Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") == "1" ? "" : "hidden")" *@>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-time"></i><span>Asistencia</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("Create","Asistencia")">Ingresar Asistencia</a></li>
                        <li><a href="@Url.Action("Index","Asistencia")">Ver Asistencias</a></li>
                    </ul>
                </li>

                <!-- Todos -->
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span>Clase</span> </a>
                    <ul class="ml-menu">
                        <li class="@* @(Context.Session.GetString(" ConRol") !=null && Context.Session.GetString("ConRol")= ="1" ? "" : "hidden" ) *@"><a href="@Url.Action("Create", "Clase")">Ingresar Clase</a></li>
                        <li><a href="@Url.Action("Index","Clase")">Ver Clases</a></li>
                    </ul>
                </li>

                <!-- Admin -->
                <li class="@* @(Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") == "1" ? "" : "hidden *@")">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-trending-up"></i><span>Nota</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("Create","Nota")">Ingresar Nota</a></li>
                        <li><a href="@Url.Action("Index","Nota")">Ver Notas</a></li>
                    </ul>
                </li>

                <!-- Express 3 listo2-->
                <li class="@* @(Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") != "2" ? "" : "hidden") *@">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>Tarea</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("Create","Tarea")">Ingresar Tarea</a></li>
                        <li><a href="@Url.Action("Index","Tarea")">Ver Tareas</a></li>
                    </ul>
                </li>

                <!-- Todos -->

@*                 <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-accounts"></i><span>Tipo de Usuario (?)</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("Create","TipoUsuario")">Ingresar Tipo de Usuario</a></li>
                        <li>
                            <a href="@Url.Action("Index","TipoUsuario")">Ver Tipos de Usuario</a>
                        </li>
                    </ul>
                </li> *@

@*                 <!-- Todos -->
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-alert-polygon"></i><span>Reclamos</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("ObtenerTodasLosReclamos","Reclamo")">Ver Reclamos</a></li>
                    </ul>
                </li>

                <!-- listo -->
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-info-outline"></i><span>Preguntas Frecuentes</span></a>
                    <ul class="ml-menu">
                        
                        <li>
                            <a href="@Url.Action("ObtenerTodasLasPreguntasFrecuentes","PreguntasFrecuentes")">Ver Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </li>

                <li class="@* @(Context.Session.GetString("ConRol") != null && Context.Session.GetString("ConRol") == "1" ? "" : "hidden") ">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-shopping-cart"></i><span>Movimientos</span> </a>
                    <ul class="ml-menu">
                        <li><a href="@Url.Action("ObtenerTodosLosGastos","Gasto")">Registro de Gastos</a></li>
                    </ul>
                </li> *@ 

            </ul>
        </div>
        <!-- #Menu -->
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#skins">Temas</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings">Configuraciones</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane in active in active slideRight" id="skins">
                <div class="slim_scroll">
                    <h6>Solo un color</h6>
                    <ul class="choose-skin">
                        <li data-theme="purple"><div class="purple"></div><span>Morado</span></li>
                        <li data-theme="blue"><div class="blue"></div><span>Azul</span></li>
                        <li data-theme="cyan"><div class="cyan"></div><span>Celeste</span></li>
                    </ul>
                    <h6>Multi Color</h6>
                    <ul class="choose-skin">
                        <li data-theme="black"><div class="black"></div><span>Negro</span></li>
                        <li data-theme="deep-purple"><div class="deep-purple"></div><span>Morado Osucuro</span></li>
                        <li data-theme="red"><div class="red"></div><span>Rojo</span></li>
                    </ul>
                    <h6>Color gradiente</h6>
                    <ul class="choose-skin">
                        <li data-theme="green"><div class="green"></div><span>Verde</span> </li>
                        <li data-theme="orange" class="active"><div class="orange"></div><span>Naranja</span></li>
                        <li data-theme="blush"><div class="blush"></div><span>Rojo difuminado</span></li>
                    </ul>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane slideLeft" id="settings">
                <div class="settings slim_scroll">

                    <p class="text-left">Configuraciones del Sistema</p>
                    <ul class="setting-list">
                        <li>
                            <span>Notificaciones</span>
                            <div class="switch">
                                <label><input type="checkbox" checked><span class="lever"></span></label>
                            </div>
                        </li>
                        <li>
                            <span>Actualizaciones automáticas</span>
                            <div class="switch">
                                <label><input type="checkbox" checked><span class="lever"></span></label>
                            </div>
                        </li>
                    </ul>
                    <p class="text-left">Configuraciones de la Cuenta</p>
                    <ul class="setting-list">
                        <li>
                            <span>Permisos de localización</span>
                            <div class="switch">
                                <label><input type="checkbox" checked><span class="lever"></span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>



    <!-- Main Content -->
    <section class="content home">

        <div class="container-fluid" style="margin-top:100px">
            <div class="content-wrapper" style="align-content:center">
                @RenderBody()
            </div>
        </div>

        <footer class="page-footer font-small pt-4">
            <div class="footer-copyright text-center py-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <p class="m-b-0">2024 <a style="text-decoration:none" href="http://SistemaEducativo.com/" target="black">Sistema Educativo &copy;</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </section>
    <!-- Jquery Core Js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="~/js/consultanombreapi.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <script src="~/assetsInSystem/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/assetsInSystem/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script src="~/assetsInSystem/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/assetsInSystem/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="~/assetsInSystem/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->
    <script src="~/assetsInSystem/bundles/knob.bundle.js"></script> <!-- Jquery Knob Plugin Js -->

    <script src="~/js/consultanombreapi.js"></script>

    <script src="~/assetsInSystem/bundles/mainscripts.bundle.js"></script>
    <script src="~/assetsInSystem/js/pages/index.js"></script>

    <!-- Modalscript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
</html>
