@model FrontEnd.Models.TareaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_System.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TareaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPorcentual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPorcentual)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTarea }) |
    <a asp-action="Index">Back to List</a>
</div>
