@model FrontEnd.Models.NotaViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_System.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NotaViewModel</h4>
    <hr />
    <dl class="row">


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaTarea)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.IdNota)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
