@model FrontEnd.Models.NotaViewModel

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout_System.cshtml";
}

<h1>Detalles de la nota seleccionada:</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaTarea)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTarea }) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
