@model IEnumerable<FrontEnd.Models.NotaViewModel>

@{
    ViewData["Title"] = "Notas - ";
    Layout = "~/Views/Shared/_Layout_System.cshtml";

}

<h1>Lista de Notas</h1>

<p>
    @Html.ActionLink("Registrar nueva nota ", "Create", "Nota", null, new { @class = "link-class" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTarea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaTarea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNota)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaTarea)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdNota }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdNota }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdNota })
            </td>
        </tr>
}
    </tbody>
</table>
